.header {
  border: 1px solid #0000ff;
  background-color: #302013;
}
.logo {
  float: left;
  clear: both; /* где писать clear:both */
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li {
  display: inline;
  text-align: right;
}
.slider .title1 .title2 {
  background-color: black;
  color: white;
}
/* сделать прозрачность фона и анимацию при наведении мыши */
.main-title {
  width: 0px;
  height: 0px;
  background-color: #fbe3cf;
  color: #49311C;
  font-family: fantasy;
}
.horizontal-arrow {
  border-bottom: 1px dashed; /* dashed - ? */
  color: #49311C;
}
.pakalpojumi {
  background-color: #EFEBD6;
  font-family: Verdana;
  color: grey;
}
.pakalpojumi h2 {
  font-family: fantasy;
  font-size: 20px;
}
.pakalpojumi p {
  font-family: serif;
  color: black;
}
